<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <h1>Pie Chart</h1>
      <ngx-charts-pie-chart
        [results]="productSales"
        [view]="view"
        [scheme]="colorScheme"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      ></ngx-charts-pie-chart>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <h1>Pie Chart As Donut</h1>
      <ngx-charts-pie-chart
        [results]="productSales"
        [view]="view"
        [scheme]="colorScheme"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="true"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      ></ngx-charts-pie-chart>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Pie Grid Chart</h1>
      <ngx-charts-pie-grid
        [results]="productSales"
        [view]="view"
        [scheme]="colorScheme"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      ></ngx-charts-pie-grid>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Advanced Pie Chart</h1>
      <ngx-charts-advanced-pie-chart
        [results]="productSales"
        [view]="view"
        [scheme]="colorScheme"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      ></ngx-charts-advanced-pie-chart>
    </div>
  </div>
</div>
