<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Line Chart</h1>
      <ngx-charts-line-chart
        [results]="productSalesMulti"
        [view]="view"
        [scheme]="colorScheme"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
      ></ngx-charts-line-chart>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Area Chart</h1>
      <ngx-charts-area-chart
        [results]="productSalesMulti"
        [view]="view"
        [scheme]="colorScheme"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
      ></ngx-charts-area-chart>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Stacked Area Chart</h1>
      <ngx-charts-area-chart-stacked
        [results]="productSalesMulti"
        [view]="view"
        [scheme]="colorScheme"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
      ></ngx-charts-area-chart-stacked>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Normalized Area Chart</h1>
      <ngx-charts-area-chart-normalized
        [results]="productSalesMulti"
        [view]="view"
        [scheme]="colorScheme"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
      ></ngx-charts-area-chart-normalized>
    </div>
  </div>
</div>
